.leftBar {
  height: 100vh;
  width: fit-content;
  border-right: 0.1rem solid #1e2d3d;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.img2 svg:hover {
  fill: red;
}
.info {
  height: 100vh;
  /* width: fit-content; */
  width: 28.3rem;
  border-right: 0.1rem solid #1e2d3d;
  /* padding: 1rem 0; */
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}
.personalInfo {
  display: flex;
  /* padding: 1rem 0; */
  flex-direction: column;
  padding-bottom: 3rem;
}
.heading {
  width: 100%;

  border-bottom: 0.1rem solid #1e2d3d;
  border-top: 0.1rem solid #1e2d3d;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.heading:hover {
  border: 0.1rem solid #3c6ea3;
}
.name {
  font-size: 1.8rem;
  color: #fff;
}
.folders {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.folder {
  display: flex;
  flex-direction: column;
}
.folderHead {
  display: flex;
  width: 100%;

  /* border-bottom: 0.1rem solid #1e2d3d; */
  padding: 0.6rem 2rem;
  /* padding-bottom: 0.5rem; */
  gap: 1rem;
  align-items: center;
}
.folderImage {
  margin-left: 1rem;
}
.folderIconActive {
  transform: rotate(90deg);
}
.folderContent {
  display: flex;
  /* display: none; */
  flex-direction: column;
}
.folderName {
  font-size: 1.8rem;
  color: #fff;
}
.fileName {
  font-size: 1.8rem;
  color: #607b96;
}
.file {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 5rem;
}
.fileActive {
  background-color: #ffffff10;
}
.file:hover,
.folderHead:hover {
  background-color: #ffffff20;
}
.folderContent .file:last-child {
  margin-bottom: 1rem;
}

.code {
  height: 100vh;
  width: 85rem;
  justify-self: flex-end;
  display: flex;
  border-right: 1px solid #1e2d3d;
  padding: 9rem 0;
  flex-direction: column;
}
.upperBar {
  width: 100%;
  border-bottom: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
}
.fileOpened {
  display: flex;
  gap: 3rem;
  padding: 1.5rem 2.5rem;
  border-right: 1px solid #1e2d3d;
  align-items: center;
}
.fileOpened:hover {
  background-color: #ffffff20;
}
.fileOpened:hover .fileOpenedName {
  color: #fff;
}
.fileOpenedName {
  font-size: 1.8rem;
  color: #607b96;
}
.snippets {
  margin-left: 3rem;
  height: 100vh;
  width: 70rem;
  display: flex;
  border-right: 1px solid #1e2d3d;
  border-left: 1px solid #1e2d3d;
  padding: 2rem 4rem;
  flex-direction: column;
}
.snippetHead {
  font-size: 2rem;
  color: #607b96;
}
.codeSnippets {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.codeSnippetsBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.codeSnippetsHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.profile {
  display: flex;
  gap: 1.5rem;
}
.profileImg img {
  width: 3.8rem;
  height: 3.8rem;
}
.profileData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profileName {
  font-size: 1.6rem;
  color: #5565e8;
}
.profileDate {
  font-size: 1.4rem;
  color: #607b96;
}
.details {
  display: flex;
  gap: 2rem;
}
.detail1 {
  display: flex;
  gap: 1rem;
}
.detail1 img {
  width: 2rem;
  height: 2rem;
}
.detailText {
  font-size: 1.6rem;
  color: #607b96;
}
.folderHead:hover .fileName{
  color: #fff;
}
.view{
  background-color: #1C2B3A;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  align-self: flex-start;
  padding: 1rem 2rem;
  transition: 0.1s all;
}
.view:hover{
  transition: 0.1s all;
  cursor: pointer;
  background-color: #374c60;
}
.contact{
  display: flex;
  flex-direction: column;
  width: 65rem;
height: 100vh;
  border-right: 1px solid #1e2d3d;
}
.contactData{
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 5rem 10rem;
}

.inp1{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.inp1 label{
  font-size: 1.8rem;
  color: #607b96;
}
.inp1 input, .inp1 textarea{
  width: 45rem;
  padding: 1rem 2rem;
  background-color: #011221;
  border: 1px solid #607b96;
  font-size: 2rem;
color: #607b96;
  border-radius: 1rem;
}

.inp1 textarea{
  height: 15rem;
}
.displayFile {
  display: flex;
  width: 100%;
}
.numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  border-right: 1px solid #1e2d3d;

  padding: 2rem 3rem;
  gap: 1rem;
}
.number {
  color: #607b96;
  font-size: 2rem;
}
.displayFileContent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  /* border-right: 1px solid #1e2d3d; */

  padding: 2rem 1rem;
  gap: 1rem;
}
.p {
  color: #607b96;
  font-size: 2rem;
  display: flex;
  /* gap: 1rem; */
}

.type{
  font-size: 2rem;
  color: #C98BDF;
}
.variableName{
  font-size: 2rem;
  color: #5565E8;
}
.data{
  font-size: 2rem;
  color: #FEA55F;
}
.space{
  content: '';
  width: 1rem;
}
.submitted{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 5rem;
}
.submit{
  /* width: 30rem; */
  /* margin-right: 10rem; */
  display: flex;
  gap: 3rem;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 3rem;
  border-radius: 2rem;
  border: 1px solid #607b96;
}

.submit p {
  color: #607b96;
  font-size: 2rem;
}

.rotated{
  transform: rotate(180deg);
}