.leftBar {
  height: 100vh;
  width: fit-content;
  border-right: 0.1rem solid #1e2d3d;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.img2 svg:hover {
  fill: red;
}
.info {
  height: 100vh;
  /* width: fit-content; */
  width: 28.3rem;
  border-right: 0.1rem solid #1e2d3d;
  /* padding: 1rem 0; */
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}
.personalInfo {
  display: flex;
  /* padding: 1rem 0; */
  flex-direction: column;
}
.heading {
  width: 100%;

  border-bottom: 0.1rem solid #1e2d3d;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  border-top: 0.1rem solid #1e2d3d;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.heading:hover {
  border: 0.1rem solid #3c6ea3;
}
.name {
  font-size: 1.8rem;
  color: #fff;
}
.folders {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;

  padding-bottom: 3rem;
}
.folder {
  display: flex;
  flex-direction: column;
}
.folderHead {
  display: flex;
  width: 100%;

  /* border-bottom: 0.1rem solid #1e2d3d; */
  padding: 0.6rem 2rem;
  /* padding-bottom: 0.5rem; */
  gap: 1rem;
  align-items: center;
}
.folderImage {
  margin-left: 1rem;
}
.folderIconActive {
  transform: rotate(90deg);
}
.folderContent {
  display: flex;
  /* display: none; */
  flex-direction: column;
}
.folderName {
  font-size: 1.8rem;
  color: #fff;
}
.fileName {
  font-size: 1.8rem;
  color: #607b96;
}
.file {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 5rem;
}
.fileActive {
  background-color: #ffffff10;
}
.file:hover,
.folderHead:hover {
  background-color: #ffffff20;
}
.folderContent .file:last-child {
  margin-bottom: 1rem;
}

.code {
  height: 100vh;
  width: 70rem;
  display: flex;
  border-right: 1px solid #1e2d3d;
  flex-direction: column;
}
.upperBar {
  width: 100%;
  border-bottom: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
}
.fileOpened {
  display: flex;
  gap: 3rem;
  padding: 1.5rem 2.5rem;
  border-right: 1px solid #1e2d3d;
  align-items: center;
}
.fileOpened:hover {
  background-color: #ffffff20;
}
.fileOpened:hover .fileOpenedName {
  color: #fff;
}
.fileOpenedName {
  font-size: 1.8rem;
  color: #607b96;
}
.snippets {
  margin-left: 3rem;
  height: 100vh;
  width: 70rem;
  display: flex;
  border-right: 1px solid #1e2d3d;
  border-left: 1px solid #1e2d3d;
  padding: 2rem 4rem;
  flex-direction: column;
}
.snippetHead {
  font-size: 2rem;
  color: #607b96;
}
.codeSnippets {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.codeSnippetsBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.codeSnippetsHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.profile {
  display: flex;
  gap: 1.5rem;
}
.profileImg img {
  width: 3.8rem;
  height: 3.8rem;
}
.profileData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profileName {
  font-size: 1.6rem;
  color: #5565e8;
}
.profileDate {
  font-size: 1.4rem;
  color: #607b96;
}
.details {
  display: flex;
  gap: 2rem;
}
.detail1 {
  display: flex;
  gap: 1rem;
}
.detail1 img {
  width: 2rem;
  height: 2rem;
}
.detailText {
  font-size: 1.6rem;
  color: #607b96;
}
.rotated{
  transform: rotate(180deg);
}
.codeBox img{
  width: 62rem;
}