.leftBar {
  height: 100vh;
  width: fit-content;
  border-right: 0.1rem solid #1e2d3d;
  padding: 5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.img2 svg:hover {
  fill: red;
}
.info {
  height: 100vh;
  /* width: fit-content; */
  min-width: 28.8rem;
  border-right: 0.1rem solid #1e2d3d;
  /* padding: 1rem 0; */
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}
.personalInfo {
  display: flex;
  /* padding: 1rem 0; */
  flex-direction: column;
  padding-bottom: 3rem;
}
.heading {
  width: 100%;

  border-bottom: 0.1rem solid #1e2d3d;
  border-left: 0.1rem solid transparent;
  border-right: 0.1rem solid transparent;
  border-top: 0.1rem solid #1e2d3d;
  padding: 1rem 2rem;
  display: flex;
  gap: 1rem;
  align-items: center;
}
.heading:hover {
  border: 0.1rem solid #3c6ea3;
}
.name {
  font-size: 1.8rem;
  color: #fff;
}
.folders {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.folder {
  display: flex;
  flex-direction: column;
}
.folderHead {
  display: flex;
  width: 100%;

  /* border-bottom: 0.1rem solid #1e2d3d; */
  padding: 0.6rem 2rem;
  /* padding-bottom: 0.5rem; */
  gap: 1rem;
  align-items: center;
}
.folderImage {
  margin-left: 1rem;
}
.folderIconActive {
  transform: rotate(90deg);
}
.folderContent {
  display: flex;
  /* display: none; */
  flex-direction: column;
}
.folderName {
  font-size: 1.8rem;
  color: #fff;
}
.fileName {
  font-size: 1.8rem;
  color: #607b96;
}
.file {
  display: flex;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem 5rem;
}
.fileActive {
  background-color: #ffffff10;
}
.file:hover,
.folderHead:hover {
  background-color: #ffffff20;
}
.folderContent .file:last-child {
  margin-bottom: 1rem;
}

.code {
  height: 100vh;
  width: 100%;
  display: flex;
  border-right: 1px solid #1e2d3d;
  flex-direction: column;
}
.upperBar {
  width: 100%;
  border-bottom: 1px solid #1e2d3d;
  display: flex;
  align-items: center;
}
.fileOpened {
  display: flex;
  gap: 3rem;
  padding: 0.9rem 2.5rem;
  border-right: 1px solid #1e2d3d;
  align-items: center;
}
.fileOpened:hover {
  background-color: #ffffff20;
}
.fileOpened:hover .fileOpenedName {
  color: #fff;
}
.fileOpenedName {
  font-size: 1.8rem;
  color: #607b96;
}
.snippets {
  margin-left: 3rem;
  height: 100vh;
  width: 70rem;
  display: flex;
  border-right: 1px solid #1e2d3d;
  border-left: 1px solid #1e2d3d;
  padding: 2rem 4rem;
  flex-direction: column;
}
.snippetHead {
  font-size: 2rem;
  color: #607b96;
}
.codeSnippets {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
.codeSnippetsBox {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.codeSnippetsHead {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.profile {
  display: flex;
  gap: 1.5rem;
}
.profileImg img {
  width: 3.8rem;
  height: 3.8rem;
}
.profileData {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.profileName {
  font-size: 1.6rem;
  color: #5565e8;
}
.profileDate {
  font-size: 1.4rem;
  color: #607b96;
}
.details {
  display: flex;
  gap: 2rem;
}
.detail1 {
  display: flex;
  gap: 1rem;
}
.detail1 img {
  width: 2rem;
  height: 2rem;
}
.detailText {
  font-size: 1.6rem;
  color: #607b96;
}
.checkbox {
  appearance: none;
  background-color: transparent;
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid #607b96;
  border-radius: 0.15em;
  transform: translateY(-0.075em);

  display: grid;
  place-content: center;
}
.check {
  font-family: system-ui, sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.1;
  display: grid;
  grid-template-columns: 1em auto;
  gap: 0.5em;
}
/* .checkbox::before {
  content: "";
  width: 0.65em;
  height: 0.65em;
  transform: scale(0);
  transition: 120ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--form-control-color);

  transform-origin: bottom left;
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}

.checkbox:checked::before {
  transform: scale(1);
} */
.select{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 3rem;
}
.option{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.check{
  margin-right: 1rem;
}
.selectOption{
  /* width: 2.6rem; */
  height: 2.6rem;
}
.optionName{
  font-size: 1.8rem;
  color: #607B96;
}
.node{
  transform: translateY(-1.2rem);
}
.displayFile{
  padding: 10rem;
  width: 100%;
  height: 87.5%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5rem;
  overflow-y: auto;
  /* background-color: #fff; */
}
.project{
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projContent{
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.projNames{
  display: flex;
  gap: 1rem;
}

.projName{
  font-size: 1.8rem;
  color: #5565E8;
  font-weight: 600;
}
.projectName{
  font-size: 1.8rem;
  color: #607B96;
}
.projectBox{
  width: 40rem;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background-color: #011221;
  border: 1px solid #1E2D3D;
  border-radius: 1.5rem;
  transition: 0.1s all;
}
.projectBox img{
  /* margin-top: -3rem; */
  margin: 1rem;
  width: 38rem;
  border-radius: 0.75rem;
}
.projectBox:hover{
  border: 1px solid #607B96;
  transition: 0.1s all;

}
.projContent p{
  font-size: 2rem;
  color: #607B96;
  line-height: 1.6;
}
.view{
  background-color: #1C2B3A;
  color: #fff;
  font-size: 1.6rem;
  border-radius: 1rem;
  align-self: flex-start;
  padding: 1rem 2rem;
  transition: 0.1s all;
}
.view:hover{
  transition: 0.1s all;
  cursor: pointer;
  background-color: #374c60;
}
.btns{
  display: flex;
  justify-content: space-between;
  padding-right: 3rem;
}

.imm{
  position: relative;
  /* align-self: flex-end; */
}
.imm img{
  /* align-self: flex-end; */
  width: 4rem;
  margin: 0;
  height: 4rem;
}
.cirr{
  width: 4rem;
  height: 4rem;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cir{
  display: none;
  width: 3.2rem;
  height: 3.2rem;
  border-radius: 50%;
  background-color: #374c6090;
  /* top: 0; */
}
.btns a{
  display: block;
}
.imm:hover .cir{
  display: block;
  cursor: pointer;

}

.rotated{
  transform: rotate(180deg);
}
.no{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 1rem;
}
.no p{
  color: #fff;
  font-size: 1.8rem;
}
.no h1{
  color: #fff;
  font-size: 3rem;
  font-weight: 400;
}
.no h2{
  color: rgb(255 255 255 / 60%);
  font-size: 5rem;
  font-weight: lighter;
}