.hero {
  height: 90vh;
  width: 110rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  /* justify-content: center; */
}

.leftHero {
  display: flex;
  flex-direction: column;
  gap: 10rem;
}

.upper {
  display: flex;
  flex-direction: column;
  position: relative;
  gap: 1rem;
}
.intro {
  font-size: 2rem;
  color: #e5e9f0;
  font-weight: 400;
}

.name {
  font-weight: 500;
  font-size: 6.4rem;
  color: #e5e9f0;
}

.role {
  display: flex;
  gap: 2rem;
}
.fixedSymbol {
  content: "<";
  color: #4d5bce;
  font-size: 3.4rem;
}
.typing {
  display: flex;
  gap: 1rem;
}
.typingText {
  font-size: 3.4rem;
  color: #4d5bce;
}
.cursor {
  font-size: 3.4rem;
  color: #4d5bce;
}
.lower {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.comment {
  font-size: 1.8rem;
  color: #607b96;
}
.comment1 {
  display: none;
  font-size: 1.8rem;
  color: #607b96;
}
.gitlink {
  display: flex;
  gap: 1rem;
}
.const {
  font-size: 1.8rem;
  color: #4d5bce;
}
.variable {
  font-size: 1.8rem;
  color: #43d9ad;
}
.link {
  font-size: 1.8rem;
  color: #e99287;
}
.equal {
  font-size: 1.8rem;
  color: #fff;
}
.rightHero {
  position: relative;
  /* background-image: url("/Background Blurs.png"); */
  justify-self: flex-end;
  margin-left: 5rem;
  margin-right: -10rem;
}
.terminal{
  width: 55rem;
}

.blur {
  position: absolute;
  width: 110rem;
  top: -40%;
  z-index: -1;
  opacity: 75%;
  left: -45%;
}
.blur1 {
  display: none;
  position: absolute;
  width: 110rem;
  top: -40%;
  z-index: -1;
  opacity: 75%;
  left: -45%;
}
.br{
  display: none;
}
.rest2{
  display: none;
}
.rest{
  font-size: 1.6rem;
  display: inline;
}

@media screen and (max-width:750px) {

  .rightHero{
    display: none;
  }
  .blur1{
    display: block;
  }
  .hero{
    display: flex;
    width: 80vw;
  }
  .intro{
    font-size: 1.8rem;
  }
  .name{
    font-size: 6.2rem;
    line-height: 0.9;
    margin: 1.5rem 0;
  }
  .fixedSymbol, .typingText, .cursor{
    font-size: 2.0rem;
  }
  .comment1, .const, .variable, .equal, .link{
    font-size: 1.4rem;
  }
  .leftHero{
    gap: 15.0rem;
  }
  .comment1{
    display: block;
  }
  .comment{
    display: none;
  }
  .gitlink{
    gap: 1.0rem;
    /* width: 8.0rem; */
    position: relative;
  }
  .lower{
    gap: 1.0rem;
  }
  .br{
    display: block;
  }
  .rest{
    display: none;
  }
  .rest2{
    position: absolute;
    /* top: 0; */
    left: 0;
    display: block;
    font-size: 1.4rem;
  }
  .blur1 {
  display: block;
  position: absolute;
  width: 70.0rem;
  top: -70%;
  z-index: -1;
  opacity: 65%;
  left: -45%;
}

}