.nameHeading {
  color: #607b96;
  z-index: 1999;
  font-size: 1.8rem;
  padding: 1.5rem 0;
  padding-left: 3rem;
  font-weight: 500;
}
.nameHeading:hover {
  cursor: pointer;
  color: #fff;
}
.navLink {
  color: #607b96;
  font-size: 1.8rem;
  padding: 1.5rem 3rem;
  border-left: 1px solid #1e2d3d;
  border-right: 1px solid #1e2d3d;
  position: relative;
  display: inline-block;
}
.navLinkActive {
  color: #fff !important;
  border-bottom: 3px solid #fea55f;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid #1e2d3d;
}

.leftNavItems {
  display: flex;
  align-items: center;
  gap: 20rem;
}
.navLinks {
  width: 110rem;
  margin: 0 auto;
  display: flex;
}
.navLink:after {
  background: none repeat scroll 0 0 transparent;
  bottom: -0.4rem;
  content: "";
  display: block;
  height: 0.4rem;
  left: 50%;
  position: absolute;
  background: #fea55f;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.navLink:hover:after {
  width: 100%;
  left: 0;
}
.navLink:hover {
  cursor: pointer;
  color: #fff !important;
}
.navl {
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}
